{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section id="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Our Method</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{% static 'home/img/about-img.jpeg' %}" alt="">
            </div>
            <div class="col">
                <p>Ironworks Martial Arts CIC was set up to empower members of the local community and improve their confidence whether that be through physical or mental health, by the exploration and implementation of Martial Arts Training. We provide a safe and friendly environment for our fully inclusive classes. There are often a number of barriers to entry to training and as such, we have developed a ‘Passport to Martial Arts’ Package which aims to address certain barriers, such as physical and technical, to allow more people to access these classes. We also offer classes and packages that focus more on the physical fitness aspects, such as MaXFit (Martial Arts Cross Training) and others that focus on the mental and cognitive aspects of training, such as our Mindful Martial Arts package.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}