{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section id="classes-table">
    <h1 class="text-align-center">Classes</h1>
    <div class="container-fluid">
        <table class="table table-responsive table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">07:00-08:00</th>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">08:00-09:00</th>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>MaxFit</td>
                <td>MatFit</td>
              </tr>
              <tr>
                <th scope="row">09:00-10:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Pad Class</td>
                <td>MaxFit</td>
              </tr>
              <tr>
                <th scope="row">10:00-11:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Bag Bash</td>
                <td>Mindful Martial Arts</td>
              </tr>
              <tr class=" blank-row">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">16:00-17:00</th>
                <td></td>
                <td>Urban Cadets (Primary)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">17:00-18:00</th>
                <td></td>
                <td>Urban Cadets (Secondary)</td>
                <td></td>
                <td></td>
                <td>Durham University (Intro)</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">18:00-19:00</th>
                <td>Bag Bash</td>
                <td>Grappling</td>
                <td>DBMA</td>
                <td>Kick Boxing</td>
                <td>Durham University (Continuation)</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">19:00-20:00</th>
                <td>PT-led Small Group Training</td>
                <td>Panantukan</td>
                <td>PT-led Small Group Training</td>
                <td>Krav Maga</td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
{% endblock %}