{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block head_title %}Classes{% endblock %}

{% block content %}
<section id="classes-table">
    <h1 class="text-align-center">Classes</h1>
    <div class="table-responsive">
        <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">Times/Days</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">07:00-08:00</th>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">08:00-09:00</th>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>Open Mat</td>
                <td>MaxFit</td>
                <td>MatFit</td>
              </tr>
              <tr>
                <th scope="row">09:00-10:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Pad Class</td>
                <td>MaxFit</td>
              </tr>
              <tr>
                <th scope="row">10:00-11:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Bag Bash</td>
                <td>Mindful Martial Arts</td>
              </tr>
              <tr class=" blank-row">
                <th scope="row"><span class="hidden">Blank row</span></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">16:00-17:00</th>
                <td></td>
                <td>Urban Cadets (Primary)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">17:00-18:00</th>
                <td></td>
                <td>Urban Cadets (Secondary)</td>
                <td></td>
                <td></td>
                <td>Durham University (Intro)</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">18:00-19:00</th>
                <td>Bag Bash</td>
                <td>Grappling</td>
                <td>DBMA</td>
                <td>Kick Boxing</td>
                <td>Durham University (Continuation)</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">19:00-20:00</th>
                <td>PT-led Small Group Training</td>
                <td>Panantukan</td>
                <td>PT-led Small Group Training</td>
                <td>Krav Maga</td>
                <td>PT-led Small Group Training</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
<section id="classes-contact-form">
  <div class="container-fluid contact-card text-align-center">
    <h2>Want to become a member and join in?</h2>
    <h2 class="red-text">Contact Us Now!</h2>
    <p><i class="fa-solid fa-location-dot"></i> Mandale Business Park, Durham</p>
    <p><i class="fa-solid fa-phone"></i> 07717 755 970</p>
    <form onsubmit="return sendMail(this);" class="class-form">
      <div class="row">
        <div class="col">
          <input type="text" name="name" id="classes-name" placeholder="Name" title="Enter your name"
        </div>
        <div class="col">
          <input type="email" name="email" id="classes-email" placeholder="Email Address" title="Enter your email address">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <textarea name="classes-choice" id="classes-choice" cols="30" rows="10" placeholder="Tell us which classes you are interested in and someone will be in touch..." title="Tell us which classes you are interested in and someone will be in touch..."></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-home">Send</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}