{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <h1>Contact Us</h1>
    <div class="card">
        <div class="row">
            <div class="col">
                <h3>Get In Touch</h3>
                <p></p>
                <p></p>
                <form action="">

                </form>
            </div>
            <div class="col">
                MAP
            </div>
        </div>
    </div>
</section>
{% endblock %}