{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block head_title %}Homepage{% endblock %}

{% block content %}

<section id="hero-img">
    <div class="hero-img">
        <h1 class="text-align-center">YOUR JOURNEY STARTS HERE</h1>
    </div>
</section>
<section id="news-section">
    <h1>NEWS SECTION</h1>
</section>
<section id="classes-section">
    <div class="row">
        <div class="col card mx-auto">
            <h2>Martial Arts</h2>
            <p>The principles of Combat Athletics were born of the understanding that no system has everything needed for real-world fighting and self-defence. In order to be ready for real fighting, we must have an understanding of Striking, Grappling and Weaponry. The sessions are perfect for building the skills to improve your confidence and fitness levels in a fun and safe environment.</p>
            <img src="{% static 'home/img/ma_card.jpg' %}" class="img-fluid" alt="2 people carrying out BJJ moves on grey mat">
            <a href="#">
                <button class="btn home-btn">FIND OUT MORE</button>
            </a>
        </div>
        <div class="col card mx-auto">
            <h2>Fitness</h2>
            <p>There are often a number of barriers to entry to training and as such, we also offer classes and packages that focus more on the physical fitness aspects, such as MaXFit (Martial Arts Cross Training) and others that focus on the mental and cognitive aspects of training.</p>
            <img src="{% static 'home/img/fitness_card.jpg' %}" class="img-fluid" alt="person performing push up outside on grass">
            <a href="{% url 'classes' %}">
                <button class="btn home-btn">FIND OUT MORE</button>
            </a>
        </div>
    </div>
</section>

{% endblock %}
