/****************************
	Table of Contents
	1. Hero Section
****************************/

.hero-img {
    background:url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.hero-img h1 {
    color: white;
    margin: auto 0;
    font-size: 4rem;
    padding-top: 150px;
}