/****************************
	Table of Contents
	1. Hero Section
    2. News Section
    3. Classes Section
****************************/

/* 1. Hero Section */

.hero-img {
    background:url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.hero-img h1 {
    color: white;
    margin: auto 0;
    font-size: 4rem;
    padding-top: 150px;
}

/* News Section */

#news-section {
    height: 500px;
}

/* Classes Section */

.card {
    text-align: center;
    padding: 4rem;
    border: none;
}

.card p {
    font-size: 1.5rem;
    height: 10rem;
}