/****************************
	Table of Contents
	1. Hero Section
    2. 
    3. 
    4. Classes Table
    5. Classes Contact Form
    6. About Us Page
    7. Contact Us Page
****************************/

p {
    font-size: 1.5rem;
}

/* 1. Hero Section */

.hero-img {
    background:url(../img/hero.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.hero-img h1 {
    color: white;
    margin: auto 0;
    font-size: 4rem;
    padding-top: 150px;
}



/* 4. Classes Table */

.table thead tr th {
    font-size: 2rem;
    font-weight: bold;
	background-color: #E80004;
    color: white;
}

.table tbody tr td,
.table tbody tr th {
    font-size: 1.5rem;
}

.blank-row {
    background-color: #707070;
    border-color: #707070;
    height: 3rem;
}

#classes-table {
    margin: 0.5rem 3rem 5rem 3rem;
}

/* 5. Classes Contact Form */

.red-text {
    color: #E80004;
}

.contact-card {
    border: 1px solid #707070;
    box-shadow: 0.1rem 0.1rem #000000;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.class-form input {
    width: 50%;
    font-size: 1.5rem;
}

.class-form .row {
    padding: 1rem 0.5rem 0 0.5rem;
}

.class-form textarea {
    width: 100%;
    font-size: 1.5rem;
}

.class-form button {
    width: 50%;
}

#classes-contact-form {
    width: 50%;
    margin: 0 auto;
}

/* 6. About Us Page */

.about-cta a {
    width: 25%;
    margin: 0 auto;
}

/* 7. Contact Us Page */

.contact {
    padding: 1rem 3rem;
}

.contact-form {
 width: 100%;
font-size: 1.5rem;
}

.contact-form textarea {
    width: 100%;
}

.contact-form .row {
    padding-bottom: 2rem;
}

.contact-form .btn {
    width: 25%;
}