@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

/****************************
	Table of Contents
	1. Global Styles
	2. Utilities
	3. NavBar
	4. Footer
	5. Login/Signup
****************************/

/* 1. Global Styles */

:root {
	/* sets REM to 10px */
	font-size: 62.5%;
	/* custom variants used for the site colour scheme which allows easy changing of the colour scheme if needed */
	--clr-dark: #000;
	--clr-accent: #E80004;
	--clr-light: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 1450px;
	margin: 0 auto;
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1rem;
	font-family: 'Poppins', sans-serif;
}

/* 2. Utilities */

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-black {
	color: #000;
}

/* media query */

@media screen and (max-width: 768px) {
	.display-md {
		display: none;
	}
}

/* 3. NavBar */
/* navbar component has been built using bootstrap but has been given custom styling to fit in with the sites aesthetic */

.navbar {
	padding: 1.5rem 2.5rem;
	font-size: 2rem;
}

.navbar-brand img {
	height: 15rem;
	width: 30rem;
}

.navbar-nav {
	margin: 0 auto;
}

.nav-item {
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav-link {
	color: var(--clr-dark);
	font-size: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav-link.active,
.nav-link:hover {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	border-radius: 7%;
}

.nav-link:hover {
	transform: scale(1.05);
	transition: transform 300ms ease-in-out;
}

.btn {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	border-radius: 7%;
	box-shadow: 0.2rem 0.2rem 1rem var(--clr-dark);
	font-size: 2rem;
	padding: 1rem;
	font-weight: bold;
	margin: 1.5rem auto;
	width: fit-content;
}

.btn:hover {
	color: var(--clr-accent);
	background-color: var(--clr-light);
	transform: scale(1.05);
	transition: transform 300ms ease-in-out;
}

/* 4. Footer */

.footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer-text {
	font-size: 1.5rem;
}

.footer-col {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.fa-brands {
	font-size: 3.5rem;
}

.footer-links {
	font-size: 1.5rem;
}

.news-row {
	width: 50%;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

#newsletter-form .row .col input {
	font-size: 1.5rem;
}

.copyright {
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* 5. Login/Signup */

.card-login {
	width: 50%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin: 1rem auto 2rem auto;
	box-shadow: 0.1rem 0.1rem #000;
}
