@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

/****************************
	Table of Contents
	1. Global Styles
	2. NavBar
****************************/

/* 1. Global Styles */

:root {
	/* sets REM to 10px */
	font-size: 62.5%;
	/* custom variants used for the site colour scheme which allows easy changing of the colour scheme if needed */
	--clr-dark: #000;
	--clr-accent: #E80004;
	--clr-light: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1rem;
	font-family: 'Poppins', sans-serif;
}

/* 2. NavBar */
/* navbar component has been built using bootstrap but has been given custom styling to fit in with the sites aesthetic */

.navbar {
	padding: 1.5rem 2.5rem;
	font-size: 2rem;
}

.navbar-brand img {
	height: 15rem;
	width: 30rem;
}

.navbar-nav {
	margin: 0 auto;
}

.nav-item {
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav-link {
	color: var(--clr-dark);
	font-size: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav-link.active,
.nav-link:hover {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	border-radius: 7%;
}

.nav-link:hover {
	transform: scale(1.05);
	transition: transform 300ms ease-in-out;
}